<div class="menu">
  <div class="avatar">
    <img
      src="https://tse3.mm.bing.net/th?id=OIP.7Di12Twz-DxGVwkxvs7snQHaHa&pid=Api&P=0&h=180"
    />
  </div>
  <div class="lblnombre">Locancio</div>
  <div class="lblrol">Administrador</div>

  <div class="submenu">
    <div class="itemmenu" routerLink="/dashboard">Dashboard</div>
    <div class="itemmenu" routerLink="/usuarios">Usuarios</div>
    <div class="itemmenu" routerLink="/productos">Productos</div>
    <div class="itemmenu" routerLink="/servicios">Servicios</div>
    <div class="itemmenu" routerLink="/">Logout</div>
  </div>
</div>
