<app-menulateral></app-menulateral>
<div class="ventanaflotante">
  <div class="tituloventana">Usuarios</div>

  <table class="table table-dark table-hover">
    <thead>
      <tr>
        <th scope="col">Email</th>
        <th scope="col">Nombre</th>
        <th scope="col">Estado</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let item of datos">
        <tr (click)="SeleccionarEmail(item.email)">
          <td>{{ item.email }}</td>
          <td>{{ item.nombre }}</td>
          <td>{{ item.estado }}</td>
        </tr>
      </ng-container>
    </tbody>
  </table>

  <div class="btnnuevo" (click)="Nuevo()">+</div>
</div>

<!-- Button trigger modal -->

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input
            type="text"
            class="form-control"
            id="nombre"
            [(ngModel)]="nombre"
          />
        </div>

        <div class="form-group">
          <label for="email">Email address</label>
          <input
            type="text"
            class="form-control"
            id="email"
            [(ngModel)]="email"
          />
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            [(ngModel)]="password"
          />
        </div>

        <div class="form-group">
          <label for="estado">Estado</label>
          <select class="form-control" id="estado" [(ngModel)]="estado">
            <option value="Activo">Activo</option>
            <option value="Inactivo">Inactivo</option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="Eliminar()">
          Eliminar
        </button>
        <button type="button" class="btn btn-primary" (click)="Actualizar()">
          Actualizar
        </button>
        <button type="button" class="btn btn-primary" (click)="Guardar()">
          Guardar
        </button>
      </div>
    </div>
  </div>
</div>
